<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/boostrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
<title>Device List - Add new</title>
</head>
<body>
	<h1>Devices</h1>
	<h2>Add Category</h2>
	 	<form th:object="${category}" th:action="@{savecategory}" action="#" method="post" class="table table-striped" style="width: 30%">
		<label for="category">Category name:</label>
		<input type="text" id="category" th:field="*{cname}" />
		<div style="clear: both; display: block; height: 10px;"></div>
			
		<label for="notes">Notes:</label>
		<input type="text" id="notes" th:field="*{notes}" />
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<label for="deleted">Deleted:</label>
		<input type="text" id="deleted" th:field="*{deleted}" />
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<input type="submit" value="Save" class="btn btn-success"></input>		
	</form>
	<a href="/categories" class="btn btn-secondary">Cancel</a>
</body>
</html>