<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/boostrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
<title>Device List - Add new</title>
</head>
<body>
	<h1>Devices</h1>
	<h2>Add Person</h2>
	 	<form th:object="${person}" th:action="@{savenewperson}" action="#" method="post" class="table table-striped" style="width: 30%">
		<label for="email">E-mail:</label>
		<input type="email" id="email" th:field="*{email}" />
		<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Value is not valid. Min 1, Max 100 characters.</div>
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<label for="firstName">First Name:</label>
		<input type="text" id="firstName" th:field="*{firstName}" />
		<div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Value is not valid. Min 1, Max 100 characters.</div>
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<label for="lastName">Last Name:</label>
		<input type="text" id="lastName" th:field="*{lastName}" />
		<div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Value is not valid. Min 1, Max 100 characters.</div>
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<label for="username">Username:</label>
		<input type="text" id="username" th:field="*{username}" />
		<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username is not valid or already in use.</div>
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<label for="notes">Notes:</label>
		<input type="text" id="notes" th:field="*{notes}" />
		<div th:if="${#fields.hasErrors('notes')}" th:errors="*{notes}">Note is too long.</div>
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<label for="role">Role:</label>
		<input type="text" id="role" th:field="*{role}" />
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<label for="password">Password:</label>
		<input type="password" id="password" th:field="*{passwordHash}" />
		<div th:if="${#fields.hasErrors('passwordHash')}" th:errors="*{passwordHash}">Password must be min 4 and max 100 characters.</div>
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<label for="admin">Admin:</label>
		<input type="text" id="admin" th:field="*{admin}" />
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<label for="deleted">Deleted:</label>
		<input type="text" id="deleted" th:field="*{deleted}" />
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<input type="submit" value="Save" class="btn btn-success"></input>		
	</form>
	<a href="/persons" class="btn btn-secondary">Cancel</a>
</body>
</html>